#rating_div_1{
    display: flex;
    justify-content:space-around;
    margin-top: -75px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f8f0ec;

}
.r_div_b{
    display: flex;
   
}
.r_div_b>div>h1{
margin-right: 15px;
color: aliceblue;

border-radius: 50%;
/* border: 1px solid black; */
background-color: #d9ae98;
}
.img{
    font-size: 30px;
    padding: 10px;
}
/* #imga{
    padding: 15px;
} */
.div_c>h3{
    margin-top: 20px;
    font-size: 25px;
margin-bottom:  -10px;   
}
#testimonial_div{
    background-color: #d9ae98;
    height: 200px;
    margin-top: 0px;
    font-size: 110px;
    /* font-style:oblique; */
    font-weight: 320;
    padding-top: 60px;
    
}