
.first_1{
    height: auto;
    display: flex;
      padding: 30px;
    /* border: 5px solid brown; */
    margin-left: 40px;
}

#first_1_b{
    width: 40%;
    margin: auto;
   text-align:start;
  padding: 100px;
  /* border: 1px solid black; */
 padding-top: 52px;
 margin-left: 15px;
}
#first_1_b>h1{
    font-weight: 450;
    margin-top: 30px;
font-size: 32px;
font-family:fangsong;
}
#first_1_b>h2{
    font-style: nexa-rust;
  font-weight: 550;
}
#first_1_b >p{
    font-weight: 500;
   color: #b37500;
    font-size: 18px;
}
#first_1_b>h3{
    font-size: 22px;
    font-style:oblique;
    font-weight: 400;
}
#first_1_b>h4{
    margin-top: 50px;
    font-weight: 500;
}



    .rating {
    display: flex;
    font-size: 25px;
    flex-direction: row-reverse;
    justify-content: start;

    }
    .rating > input{
     display:none;
    }
    .rating > label {
    position: relative;
    width: 20;
   
    color: #b37500;
    cursor: pointer;
    }
    .rating > label::before{
    content: “\2605”;
    position: absolute;
    opacity: 0;
    }
    .rating > label:hover:before,
    .rating > label:hover ~ label:before {
    opacity: 1 !important;
    }
    .rating > input:checked ~ label:before{
    opacity:1;
    }
    .rating:hover > input:checked ~ label:before{
    opacity: 0.4;
     }
     